body {
  background-color: #1c2555;
  margin: 0;
  padding: 0;
}
.container {
  width: 90vw;
  height: 100vh;
  overflow:hidden ;
}
.TOP_RECTANGLE {
  width: 100%;
  height: 12.47vh;
  top: 0;
  left:0;
  background-color: #ffffff;
  position:fixed;
  z-index: 2 ;
}
.circle {
  width: 5.92vw;
  height: 11.37vh;
  top: 0.5vh;
  left: 1.97vw;
  border-radius: 50%;
  background-image: url(./img/apids_academy.jpg);
  background-size: cover;
  background-position: center;
  position:fixed;
  z-index: 2 ;
}
.label {
  width: 36.80vw;
  top: 3.6vh;
  left: 8.89vw;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #090909;
  font-size: 4.38vh;
  letter-spacing: 0;
  line-height: normal;
  position:fixed;
  z-index: 2 ;
}
.rectangle {
  width: 3.20vw;
  height: 12.47vh;
  top: 0;
  right: 0;
  background-color: #646363;
  position:fixed;
  z-index: 2 ;
}
.triangle-right1 {
  border-left: solid #888686;
  border-right: solid transparent;
  border-top: solid transparent ;
  border-bottom: solid transparent;
  border-width: 3.1720429vw;
  width: 0;
  height: 0;
  top: 0;
  right: -4.4vw;
  position:fixed;
  z-index: 2 ;
}
.rectangle_t1 {
  width: 4vw;
  height: 12.47vh;
  top: 0;
  right: 1.85vw;
  background-color: #888686;
  position:fixed;
  z-index: 2 ;
}
.triangle-right2 {
  border-left: solid #D9D9D9;
  border-right: solid transparent;
  border-top: solid transparent ;
  border-bottom: solid transparent;
  border-width: 3.1720429vw;
  width: 0;
  height: 0;
  top: 0;
  right: -2.96vw;
  position:fixed;
  z-index: 2 ;
}
.rectangle_t2 {
  width: 1.97vw;
  height: 12.47vh; 
  top: 0;
  right: 3.3vw;
  background-color: #D9D9D9;
  position:fixed;
  z-index: 2 ;
}
.triangle-right3 {
  border-left: solid #ffffff;
  border-right: solid transparent;
  border-top: solid transparent ;
  border-bottom: solid transparent;
  border-width: 3.1720429vw;
  width: 0;
  height: 0;
  top: 0;
  right: -1.71vw;
  position:fixed;
  z-index: 2 ;
}
.rectangle_t3 {
  width: 3.29vw;
  height: 12.47vh;
  top: 0;
  right: 4.5vw;
  background-color: #ffffff;
  position:fixed;
  z-index: 2 ;
}
.logout {
  top: 3.2vh;
  left: 88vw;
  background-color: #fc2323;
  color: #ffffff;
  border: none;
  width: 87px;  
  height: 45px;
  font-size: 16px;  
  text-align: center;  
  letter-spacing: 0;  
  line-height: normal;
  font-family: "Saira Condensed-Regular", Helvetica;  
  font-weight: 400;
  position:fixed;
  z-index: 2 ;
}
.contact{
  top: 4.5vh;  
  right: 27.40vh;  
  font-family: "Saira Condensed-Regular", Helvetica;  
  font-weight: 400;
  color: #000000;
  font-size:2.74vh;
  letter-spacing:0;
  line-height:normal;
  white-space:nowrap;
  position:fixed;
  z-index: 2 ;
}
.booking{
  top: 4.5vh;  
  right: 43.84vh;  
  font-family: "Saira Condensed-Regular", Helvetica;  
  font-weight: 400;
  color: #000000;
  font-size:2.74vh;
  letter-spacing:0;
  line-height:normal;
  white-space:nowrap;
  position:fixed;
  z-index: 2 ;
}
.about{
  top: 4.5vh;  
  right: 60.27vh;  
  font-family: "Saira Condensed-Regular", Helvetica;  
  font-weight: 400;
  color: #000000;
  font-size:2.74vh;
  letter-spacing:0;
  line-height:normal;
  white-space:nowrap;
  position:fixed;
  z-index: 2 ;
}
.home{
  top: 4.5vh;  
  right: 73.97vh;  
  font-family: "Saira Condensed-Regular", Helvetica;  
  font-weight: 400;
  color: #000000;
  font-size:2.74vh;
  letter-spacing:0;
  line-height:normal;
  white-space:nowrap;
  position:fixed;
  z-index: 2 ;
}
.profile_tuto {
  top: 170vh;
  left:50%;
  transform: translate(-50%,-50%);
  width: 109.59vh;
  height: 291.78vh;
  background-color: #ffffff;
  border-radius: 10.96vh;
  position:absolute;
  z-index: 0;
}
.elipse1 {
  top: 70%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 73.97vh;
  height: 53.92vh;
  background-color: #2d4f90;
  border-radius: 50%;
  position:absolute;
  z-index: 0 ;
}
.elipse2 {
  top: 70%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 46.58vh;
  height: 42.88vh;
  background-color: #ffffff;
  border-radius: 50%;
  position:absolute;
  z-index: 0 ;
}
.arrow1 {
  border-right: solid black;
  border-left: solid transparent;
  border-top: solid transparent ;
  border-bottom: solid transparent;
  border-width: 9.59vh;
  width: 0;
  height: 0;
  top: 30.14vh;
  left:39.04vh;
  position:absolute;
  z-index: 0 ;
}
.arrow2 {
  border-right: solid #ffffff;
  border-left: solid transparent;
  border-top: solid transparent ;
  border-bottom: solid transparent;
  border-width: 5.48vh;
  width: 0;
  height: 0;
  top: -5.48vh;
  left:0;
  position:absolute;
  z-index: 0 ;
}
.gambar_tuto{
  top: 70%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 20.55vh;
  height: 34.25vh;
  background-color:greenyellow;
  position:absolute;
  z-index: 0 ;
}
.nama_tuto {
  top: 105vh;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50.82vw;
  height: 7.26vh;
  font-family: "Jua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 6.58vh;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position:absolute;
  z-index: 1 ;
}
.schedule {
  top: 250%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 101.37vh;
  height: 102.74vh;
  background-color: #DBDBDB;
  border-radius: 10.96vh;
  position:absolute;
  z-index: 0 ;
}
.text_schedule {
  position: absolute;
  width: 42.88vh;
  top: 183%;
  left: 25%;
  font-family: "Kaisei Tokumin-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 8.77vh;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.picture_schedule{
  top: 197%;
  left:24.5%;
  width: 101.37vh;
  height: 102.74vh;
  position:absolute;
  z-index: 0;
}
.tuto_info{
  top: 104%;
  left:24.5%;
  width: 101.37vh;
  height: 102.74vh;
  position:absolute;
  z-index: 0;
}
.status {
  position: absolute;
  width: 16.13vw;
  height: 4.38vh;
  top: 205%;
  left:40%;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 400;
  color: #11bdf4;
  font-size: 4.93vh;
  letter-spacing: 0.04vh;
  line-height: normal;
  white-space: nowrap;
}
.student1 {
  position: absolute;
  width: 16.13vw;
  height: 4.38vh;
  top: 205%;
  left:25%;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 4.93vh;
  letter-spacing: 0.04vh;
  line-height: normal;
  white-space: nowrap;
}

