.student-comment {
    background-color: #1c2555;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .student-comment .div {
    background-color: #1c2555;
    width: 1728px;
    height: 1892px;
    position: relative;
  }
  
  .student-comment .WAIT-before-payment {
    position: absolute;
    width: 1024px;
    top: 211px;
    left: 352px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 128px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .student-comment .text-wrapper {
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 128px;
    letter-spacing: 0;
  }
  
  .student-comment .span {
    font-family: "Akshar-Regular", Helvetica;
    font-size: 96px;
  }
  
  .student-comment .text-wrapper-2 {
    font-family: "Akshar-Regular", Helvetica;
    font-size: 80px;
  }
  
  .student-comment .group {
    width: 378px;
    top: 1341px;
    left: 636px;
    position: absolute;
    height: 171px;
  }
  
  .student-comment .overlap-group {
    width: 376px;
    background-color: #55ce37;
    border-radius: 43px;
    position: relative;
    height: 171px;
  }
  
  .student-comment .YES-i-WANT {
    position: absolute;
    width: 368px;
    top: 16px;
    left: 4px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #07005f;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .student-comment .overlap-wrapper {
    width: 381px;
    top: 1605px;
    left: 640px;
    position: absolute;
    height: 171px;
  }
  
  .student-comment .overlap {
    width: 379px;
    position: relative;
    height: 171px;
  }
  
  .student-comment .rectangle {
    position: absolute;
    width: 376px;
    height: 171px;
    top: 0;
    left: 0;
    background-color: #fc2323;
    border-radius: 43px;
  }
  
  .student-comment .NO-IT-s-OKAY {
    position: absolute;
    width: 368px;
    top: 16px;
    left: 11px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #07005f;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }